<div class="modal-header">
  <h2 mat-dialog-title>Usuário</h2>
</div>
<div class="modal-body">
  <mat-dialog-content>
    <div class="form-group">
      <label class="font-weight-bold">Nome:</label>
      <span>{{data.name}}</span>
    </div>
    <div class="form-group">
      <label class="font-weight-bold">Sobrenome:</label>
      <span>{{data.surName}}</span>
    </div>
    <div class="form-group">
      <label class="font-weight-bold">Email:</label>
      <span>{{data.email}}</span>
    </div>
    <div class="form-group">
      <label class="font-weight-bold">Telefone:</label>
      <span>{{data.phone}}</span>
    </div>
    <div class="form-group">
      <label class="font-weight-bold">Usuário:</label>
      <span>{{data.userName}}</span>
    </div>
    <div class="form-group">
      <label class="font-weight-bold">Data registro:</label>
      <span>{{data.registerDate | date: 'dd/MM/yyyy'}}</span>
    </div>

    <div class="form-group">
      <label class="font-weight-bold">Ativo:</label>
      <span>{{data.enabled ? 'Sim' : 'Não' }}</span>
    </div>

    <div class="form-group">
        <label class="font-weight-bold">Senha:</label>
        <span>{{data.password}}</span>
      </div>
  </mat-dialog-content>
</div>
<div class="modal-footer">
  <mat-dialog-actions>
    <button mat-raised-button class="btn btn-secondary" (click)="close()">
      <span class="fa fa-ban">Sair</span>
    </button>
  </mat-dialog-actions>
</div>